*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* Header and Navigations */
.navtitle {
    font-weight: 800;
    font-size: 45px;
}
.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px ;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin-left: 50px;
}

.btn-primary {
    color: aliceblue;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 18px 35px;
}

/* Banner Styles */

.banner {
    align-items: center;
    margin: 0 80px 0 200px;
    display: flex;
}

.intro1{
    font-size: 45px;
    font-weight: 600;
}

.intro2{
    font-size: 85px;
    font-weight: 700;
}

.banner-description{
    font-size: 18px;
    color: var(--dark-03, #757575);
    margin-bottom: 30px;
}
/* banner Background */
.header{
    background: #FFF8F3;
    background-image: url('./images/header_bg.png'), url('./images/developer.png');
    background-repeat: no-repeat;
    background-position:bottom right, left ;
}

/* About Section Styles */

main{
   max-width: 1140px;
   margin: 0 auto;
}

.section-title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.section-description{
    color: var(--dark-03, #757575);
    font-size: 18px;
    margin-bottom: 30px;
}

.aboutme{
    margin-top: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 155px;
}

.info {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.infoh {
    font-size: 20px;
    color: var(--dark-03, #757575);
}

.infod {
    font-size: 20px;
    font-weight: 700;
    color: var(--dark-02, #474747);
}

.container {
    display: flex;
    gap: 24px;
    justify-content: space-around;
}

.skill{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skillh {
    color: var(--dark-01, #181818);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 30px;
}

.skilld {
    color: var(--dark-03, #757575);
    font-size: 16px;
}

.section-titles{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 130px;
}

.skillds {
    color: var(--dark-03, #757575);
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
    padding: 0 100px;
}

/* Resume Part */

.resume {
    display: flex;
    justify-content: space-around;
}

.rsection-title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 113px;
    margin-top: 130px;
}

.skillrh {
    color: var(--dark-02, #474747);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.degree{
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

h5{
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}

.edudes{
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    margin-bottom: 30px;
}

hr {
    width: 558px;
    height: 1px;
    background: #D1D1D1;
    margin-bottom: 30px;
}

.resbtn {
    margin-top: 50px;
    margin-bottom: 113px;
    text-align: center;
}